{
  "plugins": [
    [
      "styled-components",
      {
        "ssr": true
      }
    ]
  ],
  "presets": [
    [
      "next/babel",
      {
        "preset-env": {
          "targets": { "node": "current" },
          "useBuiltIns": "entry",
          "corejs": 3
        }
      }
    ]
  ],
  "env": {
    "test": {
      "plugins": ["@babel/plugin-transform-runtime"]
    }
  }
}
